@model AppUser
<form class="form-signup" action="" method="post" name="form">
    <label for="fullname">Full name</label>
    <input class="form-styling" type="text" name="email" placeholder="" />
    <label for="email">Email</label>
    <input class="form-styling" type="text" name="email" placeholder="" />
    <label for="dlno">Enter DL Number</label>
    <input class="form-styling" type="text" name="dlno" placeholder="" />
    <label for="password">Create password</label>
    <input class="form-styling" type="text" name="confirmpassword" placeholder="" />
    <a ng-click="checked = !checked" class="btn-signup">REGISTER</a>
</form>
